
.greyBlock { width: 800px; height: 450px; background-color: lightgrey; position: absolute; top: 32px; left: 32px; }
.maskBlock { position: absolute; width: 28%; height: 450px; background-color: rgb(34, 34, 34); top: 0px; right: 0px; }
.maskBorder { position: absolute; top: 0px; left: 0px; height: 450px; width: 10px; background-color: #666666; }
.overlayDetails { position: absolute; top: 20px; left: 30px; width: 500px; height: 140px; border-bottom: 2px solid darkgrey; }
.overlayDetailsMask { position: absolute; display: none; color: white; top: 30px; left: 40px; width: 730px; height: 210px; border-bottom: 2px solid darkgrey; }
.infoBlock { text-align: left; font-size: 28px; display: block; }
.overlayPrice { position: absolute; width: 214px; height: 450px; color: white; top: 0px; right: 0px; }
.ticketPrice { width: 100%; height: 100px; margin-top: 40px; }
.overText { width: 80%; margin-right: auto; margin-left: auto; display: block; border-top: 2px solid white; padding-top: 10px; }
.tPrice { font-size: 40px; font-weight: bold; width: 80%; margin-left: auto; margin-right: auto; display: block; margin-top: 5px; }


.moneyPay { width: 270px; height: 200px; position: absolute; top: 32px; right: 201px; background-color: #dddddd; background-image: url('../img/moneyIcon.png'); background-position: center 9px; background-repeat: no-repeat; background-size: 220px; }

.cardPay { width: 270px; height: 200px; position: absolute; bottom: 138px; right: 201px; background-color: #dddddd; background-image: url('../img/creditIcon.png'); background-repeat: no-repeat; background-position: center 26px; background-size: 210px; }


.paymentTypeCaption { position: absolute; bottom: 0px; width: 100%; height: 34px; text-align: center; line-height: 31px; font-size: 20px; color: white; background-color: black; border-top: 2px solid grey; }

.abortOperation { background-color: rgb(218, 54, 54); color: white; display: block; width: 105px; height: 31px; text-align: center; font-size: 22px; font-weight: bold; position: absolute; bottom: 10px; right: 4px; padding: 10px; display: none; }

.overlayControlsContainer { position: absolute; background-color: white; bottom: 10%; left: 4%; width: 62%; height: 45%; }

.controlsCaption { position: absolute; top: 6%; left: 3%; font-size: 29px; }

.controlsArea { position: absolute; width: 94%; height: 63%; border: 1px solid rgba(133, 133, 133, 0.58); bottom: 5%; left: 3%; }

.minusBt { position: absolute; width: 25%; height: 85%; border: 1px solid rgba(153, 153, 153, 0.33); top: 7%; left: 3%; background-color: #dddddd; background-image: url('../img/minusIcon.png'); background-repeat: no-repeat; background-position: center center; background-size: 70px; }

.valueBox { position: absolute; width: 38%; height: 85%; border: 1px solid rgba(153, 153, 153, 0.33); top: 7%; left: 31%; display: table-cell; text-align: center; font-size: 80px; line-height: 104px; }

.plusBt { position: absolute; width: 25%; height: 85%; border: 1px solid rgba(153, 153, 153, 0.33); top: 7%; right: 3%; background-color: #dddddd; background-image: url('../img/plusIcon.png'); background-repeat: no-repeat; background-position: center center; background-size: 70px; }

.dark { background-color: #212121; color: white; border: none; }

.light { font-size: 40px; left: 0%; }

.hiddenBt { display: none; }

.finalValue { top: -63%; left: 58%; text-align: left; border: none; }
